.frame {
  height: fit-content;
  background-color: #faf3ea;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Feature {
  display: flex;
  gap: 0.5rem;
  h2 {
    margin: 0;
    color: #242424;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  span {
    font-size: 1.2rem;
    color: #898989;
    font-weight: 500;
  }
}
