@import "../../scss/variables";

.navbar-container {
  display: flex;
  justify-content: space-between;
  font-size: map-get($font-sizes, "smaller");
  padding-left: 60px;
  padding-right: 80px;
  height: 100px;
  align-items: center;
  color: #000000;
  font-weight: weight(medium);
}

.navbar-center {
  .navbar-center__list {
    display: flex;

    padding: 0px;
    margin: 0px;

    gap: 4rem;
  }
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 3rem;
  user-select: none;
  img {
    cursor: pointer;
  }
}
